.CoolButton{
    padding: 0.8em 1.7em;
    color: #FFFFFF;
    /*width: 100px;*/
    margin: 5px;
    display: inline-block;
    text-align: center;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    float: left;
    vertical-align: middle;
    border: transparent;
}

.CoolButton:hover{
    cursor: pointer;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.7);
}

.red{
    background-color: #9b0004;
    /*border: 1px solid #CC0004;*/
}

.red:hover{
    background-color: #800004;
}

.blue{
    background-color: #000099;
    /*border: 1px solid #0000B3;*/
}

.blue:hover{
    background-color: #000066;
}

.white{
    color: #000 !important;
    background-color: white;
}

.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    marign-right: 10px;
    float: right;
    -webkit-transition: transform 2s;
    -moz-transition: transform 2s;
    -ms-transition: transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.cool-input{
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.08);
    padding: 0.8em 12px;
    margin: 5px;
    outline: 0;
}

.input-tree{
    /*position: relative;*/
}

.search-tree-label{
    background: url("../../res/search.png") center no-repeat;
    width: 50px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

/*.parentlist{*/

/*}*/

.treelist{
    position: absolute;
    list-style: none;
    background-color: white;
    padding: 8px 16px;
    left: 8px;
    width: 216px;
    display: none;
}

.treelist > li{
    padding: 2px 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.tree-leaf{
    line-height: 36px;
}

.tree-leaf > img{
    margin: 0 10px 0 0;
}

.tree-leaf > label{
    line-height: 24px;
    vertical-align: middle;
    margin: 0px;
}

.tree-leaf > div.unselected{
    background-image: url("../../res/arrow_right.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 10px 0 0;
}

.tree-leaf > span{
    cursor: pointer;
}

span.unselected{
    display: inline-block;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    margin-right: 10px;
    transform: rotate(-45deg);
    transition: transform 0.6s;
}

span.selected{
    display: inline-block;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    margin-right: 10px;
    transform: rotate(45deg);
    transition: transform 0.6s;
}

/*span.unselected{*/
    /*background: url("../../res/arrow_right.png") center no-repeat;*/
    /*transition: background 0.6s;*/
/*}*/

/*span.selected{*/
    /*background: url("../../res/arrow_down.png") center no-repeat;*/
/*}*/

.li-unselected > ul{
    width: 140px;
}